<a href="https://colab.research.google.com/github/ekaratnida/DADS5001-Data-Analytics-and-Data-Science-Tools-and-Programming/blob/main/02_Filtering_%26_Sorting/Week3_pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)
print(type(s))

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
<class 'pandas.core.series.Series'>

In [13]:
dates = pd.date_range("20130101", periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01 -0.117030 -0.330392  0.141827  2.193088
2013-01-02  0.136898 -1.527540 -0.622988  0.619967
2013-01-03 -2.425492 -0.968999  0.623577  0.495474
2013-01-04 -0.355056 -0.980402  0.180991 -0.707209
2013-01-05  0.704540  0.224774  0.306393 -1.466539
2013-01-06 -0.197816  0.382830  1.010758 -1.447307

In [27]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1.0, index=list(range(4))),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

2. View

In [38]:
print(df.head())
print(df.tail(2))
print(df.index)
print(df.columns)
#print(df.describe())
print(df.sort_index(axis=1, ascending=False))
print(df.sort_values(by="B"))

                   A         B         C         D
2013-01-01 -0.117030 -0.330392  0.141827  2.193088
2013-01-02  0.136898 -1.527540 -0.622988  0.619967
2013-01-03 -2.425492 -0.968999  0.623577  0.495474
2013-01-04 -0.355056 -0.980402  0.180991 -0.707209
2013-01-05  0.704540  0.224774  0.306393 -1.466539
                   A         B         C         D
2013-01-05  0.704540  0.224774  0.306393 -1.466539
2013-01-06 -0.197816  0.382830  1.010758 -1.447307
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')
                   D         C         B         A
2013-01-01  2.193088  0.141827 -0.330392 -0.117030
2013-01-02  0.619967 -0.622988 -1.527540  0.136898
2013-01-03  0.495474  0.623577 -0.968999 -2.425492
2013-01-04 -0.707209  0.180991 -0.980402 -0.355056
2013-01-05 -1.466539  0.306393  0.224774  0.704540
2013-01-06 -1.447307  1.010758  0.382830 -0.197816
                   A         B         C         D
2013-01-02  0.136898 -1.527540 -0.622988  0.619967
2013-01-04 -0.355056 -0.980402  0.180991 -0.707209
2013-01-03 -2.425492 -0.968999  0.623577  0.495474
2013-01-01 -0.117030 -0.330392  0.141827  2.193088
2013-01-05  0.704540  0.224774  0.306393 -1.466539
2013-01-06 -0.197816  0.382830  1.010758 -1.447307

3. Selecting

In [40]:
df.A
df["A"]

2013-01-01   -0.117030
2013-01-02    0.136898
2013-01-03   -2.425492
2013-01-04   -0.355056
2013-01-05    0.704540
2013-01-06   -0.197816
Freq: D, Name: A, dtype: float64

In [41]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.117030 -0.330392  0.141827  2.193088
2013-01-02  0.136898 -1.527540 -0.622988  0.619967
2013-01-03 -2.425492 -0.968999  0.623577  0.495474

In [42]:
df.loc[dates[0]]

A   -0.117030
B   -0.330392
C    0.141827
D    2.193088
Name: 2013-01-01 00:00:00, dtype: float64

In [43]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01 -0.117030 -0.330392
2013-01-02  0.136898 -1.527540
2013-01-03 -2.425492 -0.968999
2013-01-04 -0.355056 -0.980402
2013-01-05  0.704540  0.224774
2013-01-06 -0.197816  0.382830

In [44]:
df.iloc[3]

A   -0.355056
B   -0.980402
C    0.180991
D   -0.707209
Name: 2013-01-04 00:00:00, dtype: float64

In [49]:
df.iloc[3:5, 2:4]

                   C         D
2013-01-04  0.180991 -0.707209
2013-01-05  0.306393 -1.466539

In [56]:
df[(df["A"] > 0) & (df["A"] < 1)]

                   A         B         C         D
2013-01-02  0.136898 -1.527540 -0.622988  0.619967
2013-01-05  0.704540  0.224774  0.306393 -1.466539

In [60]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.141827  2.193088
2013-01-02  0.136898       NaN       NaN  0.619967
2013-01-03       NaN       NaN  0.623577  0.495474
2013-01-04       NaN       NaN  0.180991       NaN
2013-01-05  0.704540  0.224774  0.306393       NaN
2013-01-06       NaN  0.382830  1.010758       NaN

In [62]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

                   A         B         C         D      E
2013-01-01 -0.117030 -0.330392  0.141827  2.193088    one
2013-01-02  0.136898 -1.527540 -0.622988  0.619967    one
2013-01-03 -2.425492 -0.968999  0.623577  0.495474    two
2013-01-04 -0.355056 -0.980402  0.180991 -0.707209  three
2013-01-05  0.704540  0.224774  0.306393 -1.466539   four
2013-01-06 -0.197816  0.382830  1.010758 -1.447307  three

In [63]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -2.425492 -0.968999  0.623577  0.495474   two
2013-01-05  0.704540  0.224774  0.306393 -1.466539  four